<!-- THIS IS THE HUB VERSION-->


<!DOCTYPE html>
<html>
	<head>
				<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
				<script>
				function window$forge$_receive(result) {
					try {
						window.forge._receive(JSON.parse(result));
					} catch (e) {
						forge.logging.error("window$forge$_receive -> " + e);
					}
				}
			</script><script src='../forge/all.js'></script>
	<title>Drawer</title>
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no;" /> 
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,200italic,300italic,400italic,600italic,700italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/css_reset.css" />
	<link rel="stylesheet" href="css/jquery.mobile.structure-1.2.0_noTheme.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<link rel="stylesheet" href="css/base_styles.css" />
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>

	
	
	<!--<script src="js/templates.js"></script>	-->
	<script type="text/javascript" src="js/libs/energize.js"></script>	

	<script type="text/template" id="login-template">
		<div id="fb-root"></div>
		<div id="loginContainer">
			<div id="radialGrad">
			
				<div id="loginLogo"><img src="img/loginLogo.png" /></div>
				
			
				<button data-role="none" id="signInWithFacebookBtn">Sign in with Facebook</button>
			
			</div>	
		</div>
	</script>
	
	<script type="text/template" id="Oldlogin-template">
	
		<div id="loginContainer" class="centered">
			<div id="logo">
			<p>JotLocale</p>
			</div>
			<form id="loginForm">
				<input type="text" class="withHint big" id="email" name="email" value="Your email address..."/>
				<input type="text" class="withHint big" id="password" name="password" value="Your password..."/>
				<p class="hintText"><a href="#forgotpassword">Forget your password?</a></p>
			</form>
			<button class="bigButton" id="submit">Log In</button>

			<div id="signUp">
			<hr/>
			<p>First time? Start Jotting!<p>
			<button class="bigButton" id="regButton" href="#register">Register now!</button>
			</div>
		</div>
	</script>
	
	<script type="text/template" id="register-template">
		<h1>Register</h1>
		<div id="container">
			<form id="registerForm">
				<label>Your email, please...</label>
				<input type="text" id="email" name="email"/>
				<label>...and a password:</label>
				<input type="text" id="password" name="password" />
			</form>
			<button class="bigButton" id="submitRegistration">Register</button>
		</div>
	</script>

	<script type="text/template" id="myLocationDetail-template">
	
	<div id="header">
		<div class="btnLeft back"></div>
		<div class="btnRight edit"></div>
		<div id="logo"></div>
	</div>
	
	<div class="clearHeader"></div>
	
	<div id="content">
	
		<div id="placePhoto">
			
			<div id="placeTitleBlock">
				<div class="placeTitle"><%= name %></div>
				<div class="placeCategory"><%= categories[0].name %></div>
			</div>
			
			<img src='' alt='' id='placeImg' />
		
		</div>
		
		<div id="placeBottom">
			
			<div id="placeDetails">
				
				<div id="placeDetailsAddress" class="placeDetailComponent">
					<span class="placeDetailsComponentText">
					<a href="http://maps.google.com/maps?q=<%=location.address %> <%=location.city%> <%=location.state%> <%=location.postalcode%>">
						<span class="line1"><%= location.address %></span>
						<span class="line2"><%= location.city %>, <%= location.state %></span>
					</a>
					</span>
				</div> <!--end placeDetailsAddress -->
			
				<div id="placeDetailsPhone" class="placeDetailComponent">
					<span class="placeDetailsComponentText"><%= contact.formattedPhone %></span>
				</div> <!--end #placeDetailsPhone-->
			
				<div id="placeDetailsWeb" class="placeDetailComponent">
					<span class="placeDetailsComponentText"><%= url %></span>
				</div> <!--end #placeDetailsWeb -->
				
			</div><!--end #placeDetails -->
		
			<div class="recommendedBy">
				Recommended by <%= referrer %>
			</div> <!--end #recommendedBy -->
		
			<div id="placeNotes">
				<%= notes %>
			</div> <!--end #placeNotes -->
		
			<div id="placeFooter">
				<button data-role="none" class="locationDetailBtn" id="triedPlace">Tried it!</button>
				<button data-role="none" class="locationDetailBtn" id="removePlace">Remove this place</button>
			</div>
			
	</div><!--end #placeBottom-->
	</div> <!--end #content -->
	</script>
	
	<script type="text/template" id="myPlaces-template">
		<div id="header">
			<div class="btnLeft settings"></div>
			<div class="btnRight add"></div>
			<div id="logo"></div>
		</div>
		
		<div id="listSort">
			<div id="sortControlContainer">
				<button data-role="none" class="sortControl sortDistance sortActive">By Distance</button>
				<button data-role="none" class="sortControl sortCity sortInactive">By City</button>
			</div>
		</div>
		
		<div id="confirmationMessage"><span class="message"></span></div>
			
		<div id="content">
			<div id="myPlacesList">
				<ul id="placeList">
				<img src="img/ajax-loader_gray.gif" id="ajaxLoader" alt="Loading...">
				</ul>
			</div>
		</div>
	</script>
	
	<script type="text/template" id="addItem-template">
	
		<div id="header">
			<div class="btnLeft back"></div>
			<div id="logo"></div>
		</div>
		<div class="clearHeader"></div>
		<div id="content">

			<div id="placeInfo">
				<img id="addPlaceImage" src="img/ajax-loader.gif" />
				<div id="placeInfoDetails">
		 			<span class="placeName"><%= name %></span>
					<a href="http://maps.google.com/maps?q=<%=location.address %> <%=location.city%> <%=location.state%> <%=location.postalcode%>">
		 			<span class="placeDetails address line1"><%= location.address %></span> 
					<span class="placeDetails city line2"><%= location.city %>, <%= location.state %> <%= location.postalCode %></span>
					</a>
					<span class="placeDetails category line1"><%= categories[0].name %></span>
				</div>
			</div>
			
			<div id="placeFeedback">
				<form id="recommendedPlaceFeedback">
					<label for="recommendedBy">Who recommended this?</label>
					<input type="text" data-role="none" name="recommendedBy" id="recommendedBy" value="<%=referrer%>">

					<label for="notes">Anything to remember about it?</label>
					<textarea name="notes" data-role="none" id="notes" ><%=notes%></textarea>

					<input type="submit" class="styledSubmit" data-role="none" value="SAVE TO MY LIST"/>
				</form>
			</div>	
		</div>
	</script>
	
	<script type="text/template" id="findPlace-template">
		<div id="header">
		<div class="btnLeft cancel"></div>
		Save Recommendation
		<div class="btnRight blank"></div>
		</div>
		
		<div id="content">
			<div class="clearHeader"></div>
			<div id="findContainer">
				<form id="searchBar">
					<input type="text" name="search" id="searchBox" value="What's the place?"></input>
					<input type="text" name="location" id="location"></input>
					<input type="submit" id="searchSubmit" class="styledSubmit" data-role="none" value="FIND IT"/>
				</form>
			</div>
			<div id="resultsContainer">
				<ul data-role="listview" id="resultsList"></ul>
			</div>

		</div> <!--end content -->
	</script>
	
	<script type="text/template" id="settings-template">
		<div id="header">
			<div class="btnLeft back"></div>
			<div id="logo"></div>
		</div>
		<div class="clearHeader grayBG"></div>
		<div id="content">
			<a href="#triedPlaces" data-role="none">
				<div class="settingsBox single">
					Places I've Tried<div class='dblArrow arrowCentered'><img src='img/dbl_arrow.png' alt='View this place' /></div>
					</div>
			</a>

			<div class="settingsBox top">
				Rate Us!<div class='dblArrow arrowCentered'><img src='img/dbl_arrow.png' alt='View this place' /></div>
			</div>
			
			<a href="#feedback" data-role="none">
				<div class="settingsBox bottom">
					Feedback & Support<div class='dblArrow arrowCentered'><img src='img/dbl_arrow.png' alt='View this place' /></div>
				</div>
			</a>
			
			<a href="#staticContentPage/about" data-role="none">
				<div class="settingsBox top">
					About Drawer<div class='dblArrow arrowCentered'><img src='img/dbl_arrow.png' /></div>
				</div>
			</a>
			<a href="#staticContentPage/TOS" data-role="none">
				<div class="settingsBox bottom">
					Terms of Service<div class='dblArrow arrowCentered'><img src='img/dbl_arrow.png' /></div>
				</div>
			</a>
			
			<input type="submit" id="logOut" class="styledSubmit" data-role="none" value="Log Out"/>

		</div> <!--end content -->
	</script>
	
	<script type="text/template" id="aboutDrawer-template">
		<div id="header">
			<div class="btnLeft back"></div>
			About Drawer
			<div class="btnRight blank"></div>
		</div>
		<div class="clearHeader"></div>			
		<div id="content" class="padForText">
			<h1>We had a problem.</h1>
			<p>We were tired of forgetting places that our friends recommended. Sure, you can make a note on your phone, but how would you remember to look there? Or, add it to your to-do list in Foursquare - but, what if you don't use Foursquare, or want to tag your friends in the note? Simply put - there wasn't a solution.</p>
			
			<p>Until now.</p>
			
			<p>We built drawer because we trust our friends and want to make good on the places our friends recommend to us. We hope you do too.</p>
			
			<p>Drawer was conceived of, designed and built by <a href="http://www.maderalabs.com">Madera Labs</a>, a user experience strategy and design company based in sunny Tampa, FL.</p>
			
		</div>
	</script>
	
	<script type="text/template" id="TOS-template">
		<div id="header">
			<div class="btnLeft back"></div>
			Terms of Service
			<div class="btnRight blank"></div>
		</div>
		<div class="clearHeader"></div>			
		<div id="content" class="padForText">
			<h1>Terms of Service</h1>
			<p>Terms of Service go here. MAN, they're exciting to read!</p>
		</div>
	</script>
	
	<script type="text/template" id="feedback-template">
		<a href="#confirmModal" id="launchModal"></a>
		<div id="confirmModal">
			<img src="img/mail88.png" alt="Mail88"/>
			<h1 style='font-size:3.475em;'>Your message is on its way</h1>
			<h3>Thanks for getting in touch, we appreciate the message. We're working hard to make Drawer even better!</h3>
			<input type='submit' class='styledSubmit' id='closeConfirmModal' data-role="none"  value='Got it!'/>
		</div>
		<div id="header">
			<div class="btnLeft back"></div>
			Feedback and Support
			<div class="btnRight blank"></div>
		</div>
		<div class="clearHeader"></div>			
		<div id="content" class="padForText">
			<p>Whether you have problems or praise, we want to hear from you! Send us a message to let us know what's on your mind</p>
			<form id="feedbackForm">
				<select data-role="none" name="reasonForMessage" id="reasonForMessage">
					<option value="I Love Drawer!">I Love Drawer!</option>
					<option value="Feature idea">I have an awesome suggestion!</option>
					<option value="Question">How do I...</option>
					<option value="Bug">Um, my app is broken...</option>
				</select>
				
				<textarea id="messageText"></textarea>
				<input type="submit" id="submitFeedback" class="styledSubmit" data-role="none" value="SEND IT!"/>
			</form>
		</div>
	</script>
	
	<script type="text/template" id="triedPlaces-template">
		<div id="header">
			<div class="btnLeft back"></div>
			Places I've Tried
			<div class="btnRight blank"></div>
		</div>
		<div class="clearHeader"></div>			
		<div id="content">
			<table id="triedList"></table>
		</div>
	</script>
	
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<script type="text/javascript" src="js/libs/json2.js"></script>
	<script src="js/libs/underscore.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" src="http://backbonejs.org/backbone-min.js"></script>
	<script src="js/libs/parse-1.2.0.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
	
	Parse.initialize("Ycu4dFDO4dmCdm2M06hmVnrNdy8nitlSkb7LPX8R", "YjI2ZmJ9A6zySNp5injUKTiKwm8IKAJ5mTWDi0uY");
	

	  
	</script>
	
	<script type="text/javascript" src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.js"></script>
	<script type="text/javascript" src="js/libs/modernizr-1.6.min.js"></script>	
	<script type="text/javascript" src="js/custom.js"></script>
	<script type="text/javascript" src="js/libs/base64.js"></script>
	<script type="text/javascript" src="js/libs/jquery_cookie.js"></script>
	<script type="text/javascript" src="js/models/models.js"></script>
	<script type="text/javascript" src="js/collections/collections.js"></script>
	<script type="text/javascript" src="js/router.js"></script>
	<script type="text/javascript" src="js/views/views.js"></script>
	<script type="text/javascript" src="js/libs/spin.js"></script>	
	<script type="text/javascript" src="js/main.js"></script>
	<script src="js/libs/moment.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/libs/iscroll.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=true"></script>
	<script type="text/javascript" src="https://trigger.io/catalyst/target/target-script-min.js#66D2FBD8-85DF-4E45-BF87-B56BB6357000"></script>
	<link rel="stylesheet" href="js/libs/fancybox/jquery.fancybox.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<script src="js/libs/fancybox/jquery.fancybox.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/libs/fancybox/jquery.fancybox.pack.js" type="text/javascript" charset="utf-8"></script>
	
	<script type="application/javascript">
	
	$(document).ready(function() {
		window.App = new JotLocale();
		Backbone.history.start();
		forge.tabbar.hide();
		forge.topbar.hide();
		//forge.enableDebug();
		
		if (forge.is.android()){
			$("#header").height("48px");
		}
		
	});

	
	$.mobile.ajaxEnabled = false;
	$.mobile.hashListeningEnabled = false;
	$.mobile.linkBindingEnabled = false; 
	$.mobile.pushStateEnabled = false; 
	$.mobile.changePage.defaults.changeHash = false;
	$.mobile.defaultPageTransition = "none";
	$.mobile.transitionFallbacks.slide = "none"; 
	$('div[data-role="page"]').live('pagehide', function (event, ui) { 
				$(event.currentTarget).remove(); 
			}); //this kills the DOM zombies, however, may not unbind the views, so still some zombies? 
	
	new NoClickDelay(document.getElementByTagName('body'));
	
</script>

</head>
<body>
<div id="container">
</div>

<script type="text/javascript">

$("#logo").click(function(){
	window.App.navigate("#myplaces", {trigger:true});
});

$("#container").height($(window).height());

$(document).ajaxStart(function(){
	console.log("ajax started...");
	window.spinner = new Spinner(spin.opts).spin(document.getElementById('container'));
});

$(document).ajaxComplete(function(){
	console.log("ajax finished...");
	window.spinner.stop();
});

</script>

</body>


</html>