<!-- THIS IS THE HUB VERSION-->


<!DOCTYPE html>
<html>
	<head><script src='/_forge/all.js'></script>
	<title>Drawer</title>
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no;" /> 
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,200italic,300italic,400italic,600italic,700italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/css_reset.css" />
	<link rel="stylesheet" href="css/jquery.mobile.structure-1.2.0_noTheme.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<link rel="stylesheet" href="css/base_styles.css" />
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>

	
	
	<!--<script src="js/templates.js"></script>	-->
	<script type="text/javascript" src="js/libs/energize.js"></script>	

	<script type="text/template" id="login-template">
		<div id="fb-root"></div>
		<div id="loginContainer">
			<div id="radialGrad">
			
				<div id="loginLogo"><img src="img/loginLogo.png" /></div>
				
			
				<button data-role="none" id="signInWithFacebookBtn">Sign in with Facebook</button>
			
			</div>	
		</div>
	</script>
	
	<script type="text/template" id="Oldlogin-template">
	
		<div id="loginContainer" class="centered">
			<div id="logo">
			<p>JotLocale</p>
			</div>
			<form id="loginForm">
				<input type="text" class="withHint big" id="email" name="email" value="Your email address..."/>
				<input type="text" class="withHint big" id="password" name="password" value="Your password..."/>
				<p class="hintText"><a href="#forgotpassword">Forget your password?</a></p>
			</form>
			<button class="bigButton" id="submit">Log In</button>

			<div id="signUp">
			<hr/>
			<p>First time? Start Jotting!<p>
			<button class="bigButton" id="regButton" href="#register">Register now!</button>
			</div>
		</div>
	</script>
	
	<script type="text/template" id="register-template">
		<h1>Register</h1>
		<div id="container">
			<form id="registerForm">
				<label>Your email, please...</label>
				<input type="text" id="email" name="email"/>
				<label>...and a password:</label>
				<input type="text" id="password" name="password" />
			</form>
			<button class="bigButton" id="submitRegistration">Register</button>
		</div>
	</script>

	<script type="text/template" id="myLocationDetail-template">
	
	<div id="header">
		<div class="btnLeft back"></div>
		<div class="btnRight edit"></div>
		<div id="logo"></div>
	</div>
	
	<div class="clearHeader"></div>
	
	<div id="content">
	
		<div id="placePhoto">
			
			<div id="placeTitleBlock">
				<div class="placeTitle"><%= name %></div>
				<div class="placeCategory"><%= categories[0].name %></div>
			</div>
			
			<img src="img/test_photo2.jpg" alt="Test Photo"/>
		
		</div>
		
		<div id="placeBottom">
			
			<div id="placeDetails">
				
				<div id="placeDetailsAddress" class="placeDetailComponent">
					<span class="placeDetailsComponentText">
					<a href="http://maps.google.com/maps?q=<%=location.address %> <%=location.city%> <%=location.state%> <%=location.postalcode%>">
						<span class="line1"><%= location.address %></span>
						<span class="line2"><%= location.city %>, <%= location.state %></span>
					</a>
					</span>
				</div> <!--end placeDetailsAddress -->
			
				<div id="placeDetailsPhone" class="placeDetailComponent">
					<span class="placeDetailsComponentText"><%= contact.formattedPhone %></span>
				</div> <!--end #placeDetailsPhone-->
			
				<div id="placeDetailsWeb" class="placeDetailComponent">
					<span class="placeDetailsComponentText"><%= url %></span>
				</div> <!--end #placeDetailsWeb -->
				
			</div><!--end #placeDetails -->
		
			<div class="recommendedBy">
				Recommended by <%= referrer %>
			</div> <!--end #recommendedBy -->
		
			<div id="placeNotes">
				<%= notes %>
			</div> <!--end #placeNotes -->
		
			<div id="placeFooter">
				<button data-role="none" class="locationDetailBtn" id="triedPlace">Tried it!</button>
				<button data-role="none" class="locationDetailBtn" id="removePlace">Remove this place</button>
			</div>
			
	</div><!--end #placeBottom-->
	</div> <!--end #content -->
	</script>
	
	<script type="text/template" id="myPlaces-template">
		<div id="header">
			<div class="btnLeft settings"></div>
			<div class="btnRight add"></div>
			<div id="logo"></div>
		</div>
		
		<div id="listSort">
			<div id="sortControlContainer">
				<button data-role="none" class="sortControl sortCity sortActive">By City</button>
				<button data-role="none" class="sortControl sortDistance sortInactive">By Distance</button>
			</div>
		</div>
		
		<div id="confirmationMessage"><span class="message"></span></div>
			
		<div id="content">
			<div id="myPlacesList">
				<ul id="placeList"></ul>
			</div>
		</div>
	</script>
	
	<script type="text/template" id="addItem-template">
	
		<div id="header">
			<div class="btnLeft back"></div>
			<div id="logo"></div>
		</div>
		<div class="clearHeader"></div>
		<div id="content">

			<div id="placeInfo">
				<img src="img/test_photo2.jpg" alt="Test Photo2"/>
				<div id="placeInfoDetails">
		 			<span class="placeName"><%= name %></span>
					<a href="http://maps.google.com/maps?q=<%=location.address %> <%=location.city%> <%=location.state%> <%=location.postalcode%>">
		 			<span class="placeDetails address line1"><%= location.address %></span> 
					<span class="placeDetails city line2"><%= location.city %>, <%= location.state %> <%= location.postalcode %></span>
					</a>
					<span class="placeDetails category line1"><%= categories[0].name %></span>
				</div>
			</div>
			
			<div id="placeFeedback">
				<form id="recommendedPlaceFeedback">
					<label for="recommendedBy">Who recommended this?</label>
					<input type="text" name="recommendedBy" id="recommendedBy" value="<%=referrer%>">

					<label for="notes">Anything to remember about it?</label>
					<textarea name="notes" data-role="none" id="notes" ><%=notes%></textarea>

					<input type="submit" class="styledSubmit" data-role="none" value="SAVE TO MY LIST"/>
				</form>
			</div>	
		</div>
	</script>
	
	<script type="text/template" id="findPlace-template">
		<div id="header">
		<div class="btnLeft cancel"></div>
		<div class="pageTitle">Save Recommendation</div>
		</div>
		
		<div id="content">
			<div class="clearHeader"></div>
			<div id="findContainer">
				<form id="searchBar">
					<input type="text" name="search" id="searchBox" value="What's the place?"></input>
					<input type="text" name="location" id="location"></input>
					<input type="submit" class="styledSubmit" data-role="none" value="FIND IT"/>
				</form>
			</div>
			<div id="resultsContainer">
				<ul data-role="listview" id="resultsList"></ul>
			</div>

		</div> <!--end content -->
	</script>
	
	<script type="text/template" id="settings-template">
		<div id="header">
		<div class="btnLeft back"></div>
		<div class="pageTitle">Settings</div>
		</div>
		
		<div id="content">
			<div class="clearHeader"></div>
			<ul data-role="listview">
				<li>Places I've Tried</li>
				<li>Rate Us</li>
				<li>Feedback and Support</li>
				<li>About Drawer</li>
				<li>Terms of Service</li>
			</ul>
			<button id="logOut">Log Out</button>
		</div> <!--end content -->
	</script>
	
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<script type="text/javascript" src="js/libs/json2.js"></script>
	<script src="js/libs/underscore.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" src="http://backbonejs.org/backbone-min.js"></script>
	<script src="http://www.parsecdn.com/js/parse-1.1.14.min.js"></script>	
	<script type="text/javascript">
	
	Parse.initialize("Ycu4dFDO4dmCdm2M06hmVnrNdy8nitlSkb7LPX8R", "YjI2ZmJ9A6zySNp5injUKTiKwm8IKAJ5mTWDi0uY");
	

	  
	</script>
	
	<script type="text/javascript" src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.js"></script>
	<script type="text/javascript" src="js/libs/modernizr-1.6.min.js"></script>	
	<script type="text/javascript" src="js/custom.js"></script>
	<script type="text/javascript" src="js/libs/base64.js"></script>
	<script type="text/javascript" src="js/libs/jquery_cookie.js"></script>
	<script type="text/javascript" src="js/models/models.js"></script>
	<script type="text/javascript" src="js/collections/collections.js"></script>
	<script type="text/javascript" src="js/router.js"></script>
	<script type="text/javascript" src="js/views/views.js"></script>
	<script type="text/javascript" src="js/libs/spin.js"></script>	
	<script type="text/javascript" src="js/main.js"></script>
	<script src="js/libs/iscroll.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=true"></script>
	<script type="text/javascript" src="https://trigger.io/catalyst/target/target-script-min.js#66D2FBD8-85DF-4E45-BF87-B56BB6357000"></script>
	
	<script type="application/javascript">
	
	$(document).ready(function() {
		window.App = new JotLocale();
		Backbone.history.start();
		forge.tabbar.hide();
		forge.topbar.hide();
		//forge.enableDebug();
		
		if (forge.is.android()){
			$("#header").height("48px");
		}
		
	});

	
	$.mobile.ajaxEnabled = false;
	$.mobile.hashListeningEnabled = false;
	$.mobile.linkBindingEnabled = false; 
	$.mobile.pushStateEnabled = false; 
	$.mobile.changePage.defaults.changeHash = false;
	$.mobile.defaultPageTransition = "none";
	$.mobile.transitionFallbacks.slide = "none"; 
	$('div[data-role="page"]').live('pagehide', function (event, ui) { 
				$(event.currentTarget).remove(); 
			}); //this kills the DOM zombies, however, may not unbind the views, so still some zombies? 
	
	new NoClickDelay(document.getElementByTagName('body'));
	
</script>

</head>
<body>
<div id="container">
</div>

<script type="text/javascript">

$("#logo").click(function(){
	window.App.navigate("#myplaces", {trigger:true});
});

$("#container").height($(window).height());

$(document).ajaxStart(function(){
	console.log("ajax started...");
	window.spinner = new Spinner(spin.opts).spin(document.getElementById('container'));
});

$(document).ajaxComplete(function(){
	console.log("ajax finished...");
	window.spinner.stop();
});

</script>

</body>


</html>